.idea
.directory
/.phpunit.result.cache
/development/docker-test-environment/vendor/
/development/docker-test-environment/config/examples/
/development/docker-test-environment/tests/codeception/_output/
