.idea
.directory
/.phpunit.result.cache
/tests/docker-test-environment/vendor/
/tests/docker-test-environment/config/examples/
/tests/docker-test-environment/tests/codeception/_output/
/tests/docker-test-environment/.env
